.adv {
    list-style-type: none;
    margin: 0 0 46px;
    padding: 0;
    @include media($tablet) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 68px;
    }
}

.adv__list {
    list-style: none;
    position: relative;
    @include media($tablet) {
        grid-column: 1/-1;
    }
}

.adv__item {
    position: relative;
    @include media($tablet) {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}

.adv__item--reverse {
    @include media($tablet) {
        grid-template-columns: 2fr 1fr;
        margin-bottom: 0;
    }
}

.adv__item--reverse .adv__pic {
    order: -1;
}

.adv__item--forward{
    margin-bottom: 24px;
    @include media($tablet) {
        margin-bottom: 55px;
    }
}

.adv__pic{
    height: 260px;
}

.adv__list--decor::after {
    content: "";
    height: 37px;
    background: url('../img/decor-triangle-main.svg') no-repeat center top;
    position: absolute;
    top: -4px;
    right: 0;
    left: 0;
    @include media($tablet) {
        display: none;
    }
}

.adv__heading {
    @include font(18px, 26px, 700, $basic-family);
    text-transform: uppercase;
    color: #fff;
    margin: 0;
    padding-bottom: 11px;
    @include media($tablet) {
        @include font(21px, 26px, 700, $basic-family);
        max-width: 200px;
        margin: 0 auto;
    }
}

.adv__title {
    text-align: center;
    padding: 68px 10px 40px;
    background-color: #81B3D2;
    @include media($tablet) {
        padding: 40px 25px 40px;
    }
    @include media($desktop) {
        padding-top: 50px;
    }
}

.adv__title--bridge {
    padding: 42px 16px 35px 15px;
    @include media($tablet) {
        padding: 42px  36px 41px;
    }
    @include media($desktop) {
        padding-top: 56px;
    }
}

.adv__number {
    @include font(14px, 21px, 400, $basic-family);
    text-transform: uppercase;
    color: #fff;
    display: block;
    padding-bottom: 17px;
    @include media($tablet) {
        padding-bottom: 25px;
    }
}

.adv__descr {
    @include font(14px, 21px, 400, $basic-family);
    text-transform: uppercase;
    color: #fff;
    margin: 0;
    max-width: 290px;
    margin: 0 auto;
}

.adv__photo {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.adv__about {
    list-style: none;
    padding: 0 18px;
    margin-bottom: 52px;
    @include media($tablet) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0 20px;
        margin-bottom: 59px;
        list-style-type: none;
        gap: 32px;
    }
    @include media($desktop){
        margin-bottom: 79px;
    }
}

.adv__about-item {
    display: flex;
    padding-bottom: 20px;
    position: relative;
    @include media($tablet) {
        display: block;
        text-align: center;
        padding-bottom: 0;
    }
}

.adv__about-item:last-child{
    padding-bottom: 0;
}

.adv__about-pic {
    @include media($tablet) {
        width: 75px;
        height: 72px;
        padding-bottom: 14px;
    }
}

.adv__about-title {
    padding-left: 10px;
    @include media($tablet) {
        padding: 0;
    }
}

.adv__about-heading {
    @include font(18px, 26px, 700, $basic-family);
    text-transform: uppercase;
    margin: 0;
    padding: 9px 0 16px;
    @include media($tablet) {
        @include font(21px, 26px, 700, $basic-family);
        padding-bottom: 23px;
    }
}

.adv__about-descr {
    @include font(14px, 21px, 400, $basic-family);
    text-transform: uppercase;
    margin: 0 auto;
    max-width: 290px;

}

.adv__etc {
    position: relative;
    padding: 24px 26px 19px 26px;
    background-color: #eee;
    @include media($tablet) {
        padding: 38px 63px 12px;
        @include media($desktop) {
            padding-top: 43px;
            padding-bottom: 50px;
    }
}

.adv__etc-heading {
    @include font(18px, 26px, 700, $basic-family);
    color: #000;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 11px;
    text-align: center;
    @include media($tablet) {
        @include font(21px, 26px, 700, $basic-family);
        max-width: 150px;
        margin: 0 auto;
    }
}

.adv__etc-number {
    @include font(14px, 21px, 400, $basic-family);
    color: #000;
    padding-bottom: 21px;
    display: block;
    text-align: center;
    @include media($tablet) {
        padding-bottom: 27px;
    }
}

.adv__etc-descr {
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
    @include font(14px, 21px, 400, $basic-family);
    text-transform: uppercase;
    color: #000;
}

.adv__etc:not(:last-child)::after {
    content: "";
    border-bottom: 1px solid red;
    position: absolute;
    bottom: 0;
    left: 18px;
    right: 18px;
    @include media($tablet) {
        display: none;
    }
}


}
