.attractions {
    @include media($tablet) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }
}

.attraction {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    @include media($tablet) {
        margin: 0 auto;
    }
}

.attraction__psevdo {
    display: block;
    width: 46px;
    height: 46px;
    border-radius: 4px;
    position: relative;
    flex-shrink: 0;
    background-color: #f2f2f2;
    position: relative;

}

.attraction__psevdo:after {
    content: "";
    position: absolute;
    inset: 6px;
    border-radius: 50%;
    background-color: #000;
    transform: scale(0);
    opacity: 0;
    transition: transform 0.2s ease, opacity 0.2s ease;
    background: url('../img/tick.svg') no-repeat center center;
}


.attraction__origin:checked ~ .attraction__psevdo:after {
    transform: scale(1);
    opacity: 1;
}

.attraction__origin {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
