.btn {
    border: 0;
    background-color: transparent;
    color: #000;
    text-decoration: none;
    font: 700 18px /24px sans-serif;
    cursor: pointer;
    border-radius: 0;
    padding: 4px 8px;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    transition: background-color 0.2s ease, color 0.2s ease, opacity 0.2s ease;
}

.btn--brand {
    background-color: #81B3D2;
    color: #fff;
}

.btn--brand:hover {
    background-color: #669EC0;
    color: #fff;
}

.btn--brand:active {
    background-color: #5496BD;
    color: rgba(255, 255, 255, 0.3);
}

.btn--medium {
    padding: 17px 47px;
    @include media($tablet){
        padding: 16px 133px;
    }
}

.btn--small {
    padding: 16px 34px;
    @include media($tablet){
        padding: 16px 55px;
    }
}

.btn:disabled {
    pointer-events: none;
    opacity: .5;
}

.btn--wide-mobile{
    width: 100%;
    @include media($tablet){
        width: auto;
    }
}

.btn--xsmall{
    padding: 18px 64px;
    display: block;
    margin: 0 auto 35px;
    @include media($tablet){
        padding: 18px 60px;
        margin: 0 auto;
    }
}

.button__play {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 27px solid transparent;
    border-left: 48px solid rgba(255, 255, 255, 0.7);
    border-bottom: 27px solid transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 0;
    margin: 0;
    background-color: transparent;
    border-right: none;
    cursor: pointer;
    transition: border-color .2s ease, transform .2s ease;
    
    &:hover{
        border-left-color: #fff;
        transform: scale(1.1) translate(-50%, -50%);
    }
}


