.btn {
    border: 0;
    background-color: transparent;
    color: #000;
    text-decoration: none;
    font: 700 18px / 24px sans-serif;
    cursor: pointer;
    border-radius: 0;
    padding: 4px 8px;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    transition: background-color 0.2s ease, color 0.2s ease, opacity 0.2s ease;
}

.btn--brand {
    background-color: #81B3D2;
    color: #fff;
}

.btn--brand:hover {
    background-color: #669EC0;
    color: #fff;
}

.btn--brand:active {
    background-color: #5496BD;
    color: rgba(255, 255, 255, 0.3);
}

.btn--medium {
    padding: 16px 50px;
    @include media($tablet){
        padding: 15px 121px;
    }
}

.btn--small {
    padding: 16px 34px;
    @include media($tablet){
        padding: 16px 55px;
    }
}

.btn:disabled {
    pointer-events: none;
    opacity: .5;
}

.btn--wide-mobile{
    width: 100%;
    @include media($tablet){
        width: auto;
    }
}

.btn--xsmall{
    padding: 18px 64px;
    display: block;
    margin: 0 auto 35px;
    @include media($tablet){
        padding: 18px 60px;
        margin: 0 auto;
    }
}

