.content {
    text-align: center;
    max-width: 270px;
    margin: 0 auto;
    @include media($tablet) {
    max-width: 485px;
    margin: 0 auto;
    }
}

.content__title {
    text-transform: uppercase;
    padding-bottom: 25px;
    margin: 0;
    @include font(18px, 26px, 700, $basic-family);
}

.content__description {
    max-width: 280px;
    margin: 0 auto;
    text-transform: uppercase;
    @include font(14px, 21px, 400, $basic-family);
    @include media($tablet) {
        max-width: 485px;
        margin: 0 auto 55px;
        }
}

.content--form{
    margin-bottom: 28px;
    @include media($tablet) {
        margin-bottom: 102px;
    }
}

.content--windows{
    padding: 45px 42px 28px;
}

