.content {
    text-align: center;
    max-width: 268px;
    margin: 0 auto 20px;
    @include media($tablet) {
        max-width: 485px;
        margin: 0 auto 55px;
        @include media($desktop) {
            margin-bottom: 44px;
        }
    }
}

.content__title {
    text-transform: uppercase;
    padding-bottom: 34px;
    margin: 0;
    @include font(18px, 26px, 700, $basic-family);
    @include media($tablet) {
        padding-bottom: 27px;
        @include font(21px, 26px, 700, $basic-family);
    }
}

.content__title--form {
    padding-bottom: 24px;
    @include media($tablet) {
        padding-bottom: 20px;
        @include font(30px, 26px, 700, $basic-family);
    }
    @include media($desktop) {
        @include font(30px, 26px, 700, $basic-family);
        padding-bottom: 32px;
    }
}

.content__description {
    max-width: 280px;
    margin: 0 auto;
    text-transform: uppercase;
    @include font(14px, 21px, 400, $basic-family);
    @include media($tablet) {
        max-width: 485px;
        margin: 0 auto;
    }
}

.content--form {
    margin-bottom: 53px;
    @include media($tablet) {
        margin-bottom: 108px;
    }
    @include media($desktop) {
        margin-bottom: 70px;
    }
}

.content__small{
    margin-bottom: 45px;
    @include media($tablet){
        margin-bottom: 86px;
    }
}

.content__title--small{
    padding-bottom: 26px;
    @include media($tablet) {
        @include font(30px, 26px, 700, $basic-family);
        padding-bottom: 31px;
    }

}