.fieldset {
    border: 0;
    margin: 0 0 30px;
    position: relative;
    padding: 0 20px;
    @include media($tablet){
        border-top: none;
    }
}

.fieldset--contact{
    @include media($tablet){
}
}

.fieldset--contact::after{
    @include media($tablet){
    content: "";
    position: absolute;
    border-right: 1px solid #DBDBDB;
    top: -50px;
    right: 0;
    bottom: 0;
    }
}

.fieldset--choice{
    @include media($tablet){
        grid-column: 1/-1;
        border-top: 1px solid #DBDBDB;
        display: flex;
        flex-wrap: wrap;
    }
}

.fieldset--feedback{
    @include media($tablet){
        grid-column: 1/-1;
        height: 160px;
        margin-bottom: 48px;
        border-top: 1px solid #DBDBDB;
        padding: 0;
    }
}