.footer {
    text-align: center;
    padding: 0;
    @include media($tablet) {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 36px;
    }
    @include media($desktop) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 36px;
        margin: 0 60px;
    }
}



