.footer {
    text-align: center;
    @include media($tablet) {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 35px;
    }
}

.inst {
    @include font(21px, 26px, 700, $basic-family);
    text-transform: uppercase;
    color: #000;
    margin: 0;
    text-decoration: none;
}


