.form{
    @include media($tablet) {
    margin: 0 40px;
    @include media($desktop) {
        margin: 0 100px;
    }
}
}

.form__field {
    position: relative;
    @include media($tablet) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
