.header__wrap {
    display: flex;
    justify-content: flex-end;
    padding: 12px 16px;
    position: relative;
    @include media($tablet){
        display: block;
        padding: 0;
    }
}

.header__logo {
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%);
    z-index: 4;
}

.header__content {
    background-color: #2a404a;
    background-image: url('../img/bg-content-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    margin-bottom: 29px;
    @include media($tablet){
        margin-bottom: 46px;
    }
    @include media($desktop){
        margin-bottom: 56px;
    }

}

.header__content--form{
    background-color: #2a404a;
    background-image: url('../img/bg-header-form.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    margin-bottom: 44px;
    @include media($tablet){
        margin-bottom: 60px;
    }
    @include media($desktop){
        margin-bottom: 110px;
    }
}

.header__content--gallery{
    margin-bottom: 40px;
    @include media($tablet){
        margin-bottom: 56px;
    }
    @include media($desktop){
        margin-bottom: 100px;
    }
}

.header__pic{
    padding: 88px 19px;
    @include media($tablet){
        width: 461px;
        height: 350px;
        padding: 77px 154px 91px 153px;
    }
    @include media($desktop){
        width: 460px;
        height: 350px;
        padding: 78px 370px 90px;
    }
}

.header__pic--form{
    padding: 53px 19px;
    @include media($tablet){
        width: 460px;
        height: 80px;
        padding: 95px 155px 117px;
    }
    @include media($desktop){
        width: 460px;
        height: 80px;
        padding: 101px 370px 120px 370px;
    }
}

.header__content::after {
    content: "";
    background: url('../img/decor-triangle.svg') no-repeat center bottom;
    position: absolute;
    bottom: -1px;
    right: 0;
    left: 0;
    height: 57px;
}

.header__burger {
    position: relative;
    width: 32px;
    height: 32px;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: block;
    z-index: 6;
    @include media($tablet){
    display: none;
    }
}

.header__burger-line {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 4px;
    width: 23px;
    left: 50%;
    background-color: #81B3D2;
}

.header__burger-line:hover{
    color: rgba(129, 179, 210, .6);
}

.header__burger-line::before,
.header__burger-line::after {
    content: "";
    height: 4px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(7px);
    background-color: #81B3D2;
    transition: transform 0.2s ease;
}

.header__burger span::after {
    transform: translateY(-7px);
}

.header__burger-line span::after {
    transform: translateY(-7px);
}

.header__burger._active .header__burger-line {
    background-color: transparent;
}

.header__burger._active .header__burger-line::before {
    transform: translateY(0) rotate(45deg);
    background-color: #fff;
}
.header__burger._active .header__burger-line::after {
    transform: translateY(0) rotate(-45deg);
    background-color: #fff;
}




