.main {}

.main__content {}

.content__title {
    padding: 32px 20px 0;
    font-family: $basic-family;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.content__description {
    font-family: $basic-family;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    padding: 32px 20px 16px;
    text-align: center;
    margin: 0;
}

.about {
    margin: 0;
    padding: 0;
}

.advantage {
    list-style: none;
}

.advantage__list {
    background-color: #81B3D2;
    list-style: none;
    padding-top: 54px;
    position: relative;
}

.advantage__list:not(:last-child)::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 384px solid transparent;
    border-right: 384px solid transparent;
    border-top: 37px solid #fff;
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%);
}

.advantage__title {
    text-align: center;
    font-family: $basic-family;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
}

.advantage__number {
    font-family: $basic-family;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
    display: block;
}

.advantage__description {
    font-family: $basic-family;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 10px 10px 40px;
}

.advantage-pic {
    width: 100%;
    height: 100%;
    display: block;
}

.advantage__list-item {
    list-style: none;
    padding: 25px 0 52px 18px;
}

.advantage__item {
    display: flex;
    padding-top: 25px;
}

.advantage__item-pic {}

.item__about {
    padding-left: 10px;
}

.advantage__item-title {
    font-family: $basic-family;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    margin: 0;
}

.advantage__item-description {
    font-family: $basic-family;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    margin: 0;
    padding-top: 10px;
}

.advantage__content {
    list-style: none;
    background-color: #EEEEEE;
    position: relative;
}

.advantage__content:not(:last-child)::before {
    content: "";
    border-bottom: 1px solid #D6D6D6;
    position: absolute;
    bottom: 0;
    left: 18px;
    right: 18px;
}

.advantage__content-title {
    margin: 0;
    text-align: center;
    padding-top: 26px;
    font-family: $basic-family;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
}
.advantage__content-number {
    text-align: center;
    display: block;
    font-family: $basic-family;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #333333;
    padding: 15px 20px;
}

.advantage__content-description {
    margin: 0;
    text-align: center;
    font-family: $basic-family;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #333333;
    padding-bottom: 25px;
}

.search {
    padding-top: 38px;
    display: block;
}

.search__title {
    font-family: $basic-family;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
}

.search__description {
    font-family: $basic-family;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}

.search__button {
    display: block;
    margin: 0 auto;
    padding: 16px 49px;
    background-color: #81B3D2;
    border: 0;
    text-transform: uppercase;
    color: #fff;
    font-family: $basic-family;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    cursor: pointer;
}
