.search {
    text-align: center;
    margin-bottom: 49px;
    width: 100%;
    @include media($tablet) {
        margin-bottom: 58px;
    }
    @include media($desktop){
        margin-bottom: 64px;
    }
}

.search__heading{
    max-width: 500px;
    margin: 0 auto 32px;
    @include media($tablet) {
        margin-bottom: 36px;
    }
    @include media($desktop){
        margin-bottom: 46px;
    }
}

.search__title {
    margin: 0;
    @include font(21px, 26px, 700, $basic-family);
    text-transform: uppercase;
    padding-bottom: 20px;
    @include media($tablet) {
        padding-bottom: 34px;
        @include font(30px, 26px, 700, $basic-family);
    }
    @include media($desktop){
        padding-bottom: 31px;
    }
}

.search__description {
    max-width: 261px;
    margin: 0 auto;
    @include font(14px, 21px, 400, $basic-family);
    text-transform: uppercase;
    @include media($tablet) {
        max-width: 440px;
        margin: 0 auto;
        padding-bottom: 5px;
    }
}