.search {
    padding: 38px 30px 49px 30px;
    text-align: center;
}

.search__title {
    margin: 0;
    @include font(18px, 26px, 700, $basic-family);
    text-transform: uppercase;
    padding-bottom: 20px;
    @include media($tablet) {
        @include font(30px, 26px, 700, $basic-family);
    }
}

.search__description {
    margin: 0;
    @include font(14px, 21px, 400, $basic-family);
    text-transform: uppercase;
    padding-bottom: 32px;
}

