.send__review{
    text-align: center;
    margin-bottom: 55px;
    padding: 0 20px;
    @include media($tablet) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        margin-bottom: 95px;
    }
    @include media($desktop) {
        margin-bottom: 100px;
        }
    }

.send__descr{
    text-align: right;
    padding: 0;
    margin: 0;
    @include font(12px, 21px, 400, $basic-family);
    text-transform: uppercase;
    color: rgba(51, 51, 51, 0.6);
    @include media($tablet) {
        color: #333333;
    }
}

