.social{
    display: flex;
    justify-content: center;
    padding: 0 0 40px;
    margin: 0;
    @include media($tablet) {
        padding-bottom: 0;
    }
}

.social__item{
    list-style-type: none;
    margin-left: 6px;
    padding: 0;
}

.social__item:first-child{
    margin-left: 0;
}

.social__link{
    padding: 0;
}

.social__pic {
    padding: 12px;
    width: 24px;
    height: 24px;
    color: #fff;
    background-color: #81B3D2;
    transition: background-color .2s ease, color .2s ease;
}

.social__pic:hover{
    background-color: #669EC0;
}

.social__pic:active{
    background-color: #5496BD;
    color: rgba(255, 255, 255, .3 );
}