*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: PT Sans, Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  
}



.main {
  
  
}

.main__content {
  
}

.header__main-content {
  
  
}

.main__content-title {
  padding: 32px 20px 0 20px;
  text-align: center;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.main__content-decr {
  padding: 35px 20px 0 20px;
  text-align: center;
  padding-top:35px;
  padding-bottom: 40px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.content__list {
  margin-top: 90px;
}



@media (min-width:470px) {
  .header__burger {
    display: none;
  }
}

